################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamBuilderTool/.vs/TeamBuilderTool/v16/Server/sqlite3/storage.ide-shm
/TeamBuilderTool/.vs/TeamBuilderTool/v16/Server/sqlite3/db.lock
/TeamBuilderTool/.vs/TeamBuilderTool/v16/Server/sqlite3/storage.ide
/TeamBuilderTool/.vs/TeamBuilderTool/v16/Server/sqlite3/storage.ide-wal
/TeamBuilderTool/obj/Debug/TeamBuilderTool_MarkupCompile.lref
/TeamBuilderTool/obj/Debug/TeamBuilderTool_MarkupCompile.cache
/TeamBuilderTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TeamBuilderTool/obj/Debug/TeamBuilderTool.exe
/TeamBuilderTool/obj/Debug/TeamBuilderTool.g.resources
/TeamBuilderTool/obj/Debug/TeamBuilderTool.Properties.Resources.resources
/TeamBuilderTool/obj/Debug/TeamBuilderTool.csproj.GenerateResource.cache
/TeamBuilderTool/obj/Debug/TeamBuilderTool.pdb
